.title{:style => "font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:600;color:#374550"} Número de seguimiento inválido
%br
.body-text{:style => "font-family:Helvetica, Arial, sans-serif;font-size:14px;line-height:20px;text-align:left;color:#333333"}
  %p{:style => "margin-top: 30px"}
    Tu subscripción para el siguiente código de seguimiento ha sido dada de baja:
    %strong
      = @checker.tracking_number
  %p
    Tras una semana no hemos encontrado registrado el código de seguimiento en la página web de correos.

  %p
    Si deseas volver a incorporar la subscripción al sistema no dudes en visitar de nuevo la página.
  = link_to 'https://correos-stalker.herokuapp.com/', 'https://correos-stalker.herokuapp.com/', { :target => "_blank", :class => 'button-link' }