.title{:style => "font-family:Helvetica, Arial, sans-serif;font-size:18px;font-weight:600;color:#374550"} Se ha producido una actualización
%br
  %br
  .body-text{:style => "font-family:Helvetica, Arial, sans-serif;font-size:14px;line-height:20px;text-align:left;color:#333333"}
    ¡El código de seguimiento al que se encuentra suscrito ha cambiado de estado!
    %br
      %br
        .tracking-number
          %strong Código de seguimiento
          %br
            = @checker.tracking_number
            %br
              %br
        .tracking-status
          %strong Estado
          %br
            = @checker.status
            %br
        .tracking-description
        - if not @checker.description.blank?
          .tracking-status
            %strong Descripción
            %br
              = @checker.description