%tr
  %td.container-padding.footer-text{:align => "left", :style => "font-family:Helvetica, Arial, sans-serif;font-size:12px;line-height:16px;color:#aaaaaa;padding-left:24px;padding-right:24px"}
    %br
      %br
        Correos Stalker © 2015 Simple Soft, Inc.
        %br
          %br
            Si deseas dejar de recibir actualizaciones haz click en el siguiente
            = link_to 'link', unsubscribe_url(@checker.token), { :target => "_blank", :style => 'color:#aaaaaa' }
            %br
              %br
              = link_to "https://correos-stalker.herokuapp.com/", "https://correos-stalker.herokuapp.com/", { :target => "_blank", :style => 'color:#aaaaaa' }